# virtual environment files
venv/
env/
.venv/
.env/
.vscode/

# database files
db.sqlite3
*.sqlite3
*.db

# static files collected during deploymen
staticfiles/

# log files
*.log

# media files uploaded by users (if stored locally and not on a cloud storage)
media/

# compiled python files
__pycache__/
*.pyc
*.pyo
*.pyd

# local development settings
local_settings.py

# Node.js related files
node_modules/
npm-debug.log
yarn-error.log

# build artifacts and production files
build/
dist/
*.map

# IDE and editor-specific files
.vscode/
.idea/

# compiled css files
*.js

# cache and log files
.cache/
.log/

# environment variables file
.env

